body {
    width: 480px;
    position: relative;
    height: 2000px;
    display: inline-block;
}

.topbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 10;
}

.topbar img {
    width: 130px;
    padding-left: 3px;
}

.topbar ul {
    display: none;
}

.container {
    width: 480px;
}

.main {
    width: 360px;
    display: inline-block;
}

.main p {
    margin: 0 auto;
    float: left;
}

.menulist {
    width: 60%;
    margin-left: 6%;
    height: 1000px;
}

.menulist li {
    width: 200px;
}