@font-face {
    font-family: Quicksand;
    src: url(../Fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../Fonts/FiraSans-Regular.otf);
}

/* Mengatur Body */
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    position: relative;
    overflow: auto;
    height: 2600px;
    background-image: url(../img/geometric-leaves.png);
    background-repeat: repeat;
}

.topbar {
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    z-index: 100;
}

.topbar img {
    width: 134px;
    height: 23px;
    padding: 16px 14px;
    margin-left: 40px;
    padding-right: 53%;
    float: left;
}

.topbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 0 100px;
    padding: 0;
    display: inline;
}

.topbar li {
    float: left;
}

.topbar li a {
    display: block;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    padding: 14px 16px;
    font-family: arial;
    color: black;
    height: 28px;
}

.topbar li a:hover {
    background-color: #CCC;
}

.main {
    width: 100%;
    height: 800px;
    position: relative;
}

.main p {
    font-family: 'Fira Sans';
    font-size: 40px;
    color: #B380EA;
    position: absolute;
    display: inline-block;
    border-radius: 23px;
    top: 25%;
    left: 33%;
    padding: 14px 16px;
    font-weight: bold;
}

.main p span {
    color: #2BD7BE;
}

.main p .link {
    color: #B380EA;
}

.menulist {
    position: absolute;
    background-color: rgba(204, 204, 204, .7);
    width: 1100px;
    margin: -10% auto;
    margin-left: 9%;
    margin-right: 10%;
    height: 1400px;
    border-radius: 20px;
}

.menulist p {
    font-family: 'Fira Sans';
    color: black;
    text-align: center;
    font-size: 30px;
}

.menulist li {
    display: block;
    font-family: 'Fira Sans';
    font-size: 23px;
    float: left;
    background-color: #2BD7BE;
    padding: 14px 16px;
    margin: 20px;
    width: 435px;
    height: 190px;
    border-radius: 10px;
}

.menulist li span {
    font-size: 18px;
}

.menulist img {
    float: left;
    width: 200px;
    height: 150px;
    padding-right: 15px;
    border-radius: 10px;
}

.about {
    position: absolute;
    top: 2150px;
    background-color: #e7e7e7;
    left: 9%;
    width: 1100px;
    height: 300px;
    border-radius: 20px;
}

.about .content {
    padding: 10px 20px;
}

.about img {
    width: 235px;
    height: 44px;
    margin: 0 38%;
}

.about p {
    font-family: 'Fira Sans';
    font-size: 30px;
}

.about p span {
    font-size: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    z-index: 1;
    background-color: salmon;
}

.footer p {
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #f3f3f3;
    font-family: Quicksand;
}